# =========================================================
# Outputs: keep only .md files
# =========================================================
outputs/**

# Re-allow markdown inside outputs
!outputs/**/*.md

# Optional: keep folder structure (so empty dirs can exist)
!outputs/**/


venv/
# ========================
#  Python Cache & Virtualenv
# ========================
__pycache__/
*.py[cod]
*.so
*.pyd
*.pyo
env/
venv/
.venv/
*.egg-info/
*.egg

# ========================
#  OS & Editor Files
# ========================
.DS_Store
.vscode/
.idea/

# ========================
#  LangChain / Vector Store
# ========================
faiss_index/
*.faiss
*.pkl

# ========================
#  Data & Archives
# ========================


archive/
main_archive/
*.pdf

# ========================
#  Secrets & Configs
# ========================
.env
.env.*
*.yaml
*.yml
*.json
*.sqlite3


# ========================
#  Logs
# ========================
logs/
*.log

# ========================
#  Build & Distribution
# ========================
dist/
build/
document_portal.egg-info/


# Ignore image files
*.png

# Ignore text and data files
*.csv




# Ignore Word files
*.doc
*.docx

